/* CSS Document */
body{
margin: 0;

}
.h1index{
  text-align: center;
  background-color: forestgreen;
  margin: 0;
  padding-top: .25em;
  padding-bottom: .25em;
}

.Navigation{
	text-align: center;
	background-color: greenyellow;
	padding-top: .05em;
	padding-bottom: .1em;
}

.Abt{
	padding-left: .5em;
}

.imghome img {
	width: 100%;
	image-resolution: from-image;
	background-position: center;
	
	}

.contact{
	padding-left: .5em;

}

.venusfly{
	position: absolute; 
	top: 105px;
	bottom: 100px; 
	left: 20px;
}

.pitcher{
	position: absolute; 
	top: 105px;
	bottom: 100px;
	left: 250px;
}

.sundew{
	position: absolute;
	top: 105px;
	bottom: 100px;
	left: 480px;
}

.Bladderworts{
	position: absolute; 
	top: 105px;
	bottom: 100px;
	left: 710px;
}

.Nepenthes {
	position: absolute; 
	top: 105px;
	bottom: 100px;
	left: 940px;
	
}

.Cephalotus{
	position: absolute; 
	top: 105px;
	bottom: 100px;
	left: 1170px;
}

.Socialmedia{
	text-align: center;

}

.Logo{
	position: absolute; top: 0px; bottom: 0px;
	
}
