/* CSS Document */
body{
	margin: 0;
}
/* navbar */
.navbar {
	background: forestgreen;
	overflow: auto;
	display: flex;
}
.logo{
	float: left;
}
nav {
	text-align: center;
	padding-top: .05em;
	padding-bottom: .1em;
}
nav ul {
	list-style: none;
	display: flex;
}
nav ul li {
	text-transform: uppercase;
	padding-right: 20px;
}

.Abt{
	padding-left: .5em;
}

.imghome {
	width: 100%;
	image-resolution: from-image;
	background-position: center;
}

.contact{
	padding-left: .5em;

}

.venusfly{
	position: absolute; 
	top: 105px;
	bottom: 100px; 
	left: 20px;
}

.pitcher{
	position: absolute; 
	top: 105px;
	bottom: 100px;
	left: 250px;
}

.sundew{
	position: absolute;
	top: 105px;
	bottom: 100px;
	left: 480px;
}

.Bladderworts{
	position: absolute; 
	top: 105px;
	bottom: 100px;
	left: 710px;
}

.Nepenthes {
	position: absolute; 
	top: 105px;
	bottom: 100px;
	left: 940px;
	
}

.Cephalotus{
	position: absolute; 
	top: 105px;
	bottom: 100px;
	left: 1170px;
}

.Socialmedia{
	text-align: center;

}

a {
    color: black;
    text-decoration: none;
    transition: color 0.5s;
}
a:hover {
    color: gray;
}