/* CSS Document */
body {
	margin: 0;
	font-family: 'Abel', sans-serif;
	color: white;
	background-color: #1f1f1f;
}

/* navbar */
.navbar {
	background: #1f1f1f;;
	overflow: auto;
	display: flex;
	position: absolute;
	width: 100%;
}
.logo {
	margin-right: 10px;
	margin-top: 10px;
	margin-left: 30px;
	float: left;
}
nav {
	margin-top: 14px;
}
nav ul {
	list-style: none;
	display: flex;
}
nav ul li {
	text-transform: uppercase;
	padding-right: 20px;
	font-size: 16pt;
}
a {
    color: white;
    text-decoration: none;
    transition: color 0.5s;
}
a:hover {
    color: gray;
}

/* main content */
.title-section {
	background-image: url("images/index-background.png");
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	height: 100vh;
}
.title-box {
	text-align: center;
	position: absolute;
	width: 100%;
    animation: fadeUpIn ease 3s;
    animation-iteration-count: 1; 
    animation-fill-mode: forwards; 
} 
@keyframes fadeUpIn {
    0% { 
		opacity: 0;
		top: 43vh;
    } 
    100% { 
		opacity: 1;
		top: 38vh;
     } 
}
.text-logo {
	width: 70%;
}
.content {
	width: 80%;
	margin: 50px auto;
}
article {
	background: #333333;
	overflow: auto;
}

/* product box */
.product {
	background: #1f1f1f;
	width: 20%;
	animation: fadeIn ease 1s;
    animation-iteration-count: 1;
	animation-fill-mode: forwards;
}
@keyframes fadeIn {
    0% { 
		opacity: 0;
    } 
    100% { 
		opacity: 1;
     } 
}
.product-description {
    background: #1f1f1f;
    overflow: auto;
    padding: 20px;
}
.product-img {
    width: 100%;
    margin: 0;
}

/* product table */
table {
	border-spacing: 20px;
	margin: 0 auto;
}

/* social */
.social-icon {
	height: 50px;
	margin-right: 20px;
}
.social-link {
	display: flex;
}

/* random */
p {
	font-size: 14pt;
}
textarea {
	font-family: 'Calibri', sans-serif;
	font-size: 14pt;
	padding: 10px;
}
